@import "tailwindcss";

:root {
  --fluide-primary:   #312783;
  --fluide-secondary: #E6007E;
  --fluide-third:     #009FE3;
  --fluide-noir:      #1D1D1B;
  --fluide-blanc:     #ffffff;
  --fluide-gris:      #F3F3F3;
}

body {
  font-family: var(--font-aeonik), sans-serif;
}
